In [ ]:
Problem Statement:

You just got some contract work with an Ecommerce company based in New York City that sells clothing online 
but they also have in-store style and clothing advice sessions. 
Customers come in to the store, have sessions/meetings with a personal stylist,
then they can go home and order either on a mobile app or website for the clothes they want.

The company is trying to decide whether to focus their efforts on their mobile app experience or their website. 
They've hired you on contract to help them figure it out.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv("C:\\Users\\venkatesan-p\\Downloads\\Ecommerce_Customers.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
Email                   500 non-null object
Address                 500 non-null object
Avatar                  500 non-null object
Avg. Session Length     500 non-null float64
Time on App             500 non-null float64
Time on Website         500 non-null float64
Length of Membership    500 non-null float64
Yearly Amount Spent     500 non-null float64
dtypes: float64(5), object(3)
memory usage: 31.3+ KB

In [4]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [5]:
df.describe()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,33.053194,12.052488,37.060445,3.533462,499.314038
std,0.992563,0.994216,1.010489,0.999278,79.314782
min,29.532429,8.508152,33.913847,0.269901,256.670582
25%,32.341822,11.388153,36.349257,2.930450,445.038277
50%,33.082008,11.983231,37.069367,3.533975,498.887875
75%,33.711985,12.753850,37.716432,4.126502,549.313828
max,36.139662,15.126994,40.005182,6.922689,765.518462

In [6]:
df.isna().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [7]:
df['Avatar'].value_counts()

SlateBlue               7
Teal                    7
GreenYellow             7
CadetBlue               7
Cyan                    7
Bisque                  6
Purple                  6
DarkViolet              6
SaddleBrown             6
Turquoise               6
Aqua                    6
DarkGoldenRod           6
Moccasin                6
OliveDrab               6
Tomato                  6
PeachPuff               6
DeepPink                6
LightSkyBlue            6
BlueViolet              6
Wheat                   6
Orange                  6
DarkSeaGreen            6
DarkMagenta             5
DarkGreen               5
LightSalmon             5
SandyBrown              5
Magenta                 5
MediumBlue              5
Brown                   5
LimeGreen               5
                       ..
Fuchsia                 2
AliceBlue               2
ForestGreen             2
Black                   2
Peru                    2
GoldenRod               2
MediumOrchid            2
OldLace                 2
Chartreuse              2
IndianRed               2
OrangeRed               2
LightBlue               2
DarkSlateGray           2
Linen                   2
MediumPurple            1
NavajoWhite             1
Yellow                  1
Red                     1
PaleGoldenRod           1
LawnGreen               1
PaleGreen               1
LightSlateGray          1
LightGoldenRodYellow    1
PowderBlue              1
DeepSkyBlue             1
Coral                   1
PaleTurquoise           1
CornflowerBlue          1
Azure                   1
PapayaWhip              1
Name: Avatar, Length: 138, dtype: int64

In [16]:
df['Yearly Amount Spent'].value_counts()

436.515606    1
547.125932    1
469.310861    1
489.812488    1
506.423860    1
357.591439    1
503.978379    1
461.920877    1
549.860590    1
426.154548    1
555.068394    1
357.857984    1
449.070319    1
463.923513    1
443.441860    1
376.336901    1
502.771075    1
308.527747    1
460.061277    1
456.469510    1
479.614812    1
571.471034    1
486.163799    1
542.412477    1
567.475011    1
392.497399    1
482.830986    1
451.575685    1
573.306222    1
447.369027    1
             ..
468.445737    1
576.477607    1
689.235700    1
587.574799    1
744.221867    1
505.113344    1
519.372977    1
660.425184    1
700.917092    1
553.601535    1
524.797628    1
554.722084    1
544.779864    1
434.144202    1
393.857371    1
521.883573    1
483.159721    1
511.979860    1
408.216902    1
666.125592    1
563.672873    1
538.941975    1
444.053827    1
493.180216    1
542.711558    1
503.217393    1
347.776927    1
540.995739    1
409.094526    1
610.128033    1
Name: Yearly Amount Spent, Length: 500, dtype: int64

In [9]:
df.isnull().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [17]:
df.drop('Address',axis=1,inplace=True)

In [19]:
df.drop('Email',axis=1,inplace=True)

In [20]:
df.drop('Avatar',axis=1,inplace=True)

In [21]:
x=df.drop(['Yearly Amount Spent'],axis=1)
y=df['Yearly Amount Spent']

In [22]:
x.columns

Index(['Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership'],
      dtype='object')

In [23]:
x.shape

(500, 4)

In [24]:
y.shape

(500,)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=101)

In [27]:
x_train.shape

(350, 4)

In [28]:
y_train.shape

(350,)

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
    scx=StandardScaler()

In [31]:
x_train

     Avg. Session Length  Time on App  Time on Website  Length of Membership
202            31.525752    11.340036        37.039514              3.811248
428            31.862741    14.039867        37.022269              3.738225
392            33.258238    11.514949        37.128039              4.662845
86             33.877779    12.517666        37.151921              2.669942
443            33.025020    12.504220        37.645839              4.051382
398            34.140393    11.568527        38.918749              4.082855
449            32.675155    12.594194        37.683875              2.571778
321            33.674027    12.968893        37.333107              3.229451
109            33.356874    13.452129        38.503009              3.318822
93             33.710653    13.664748        37.724386              1.362674
295            31.309193    11.947175        36.190833              3.205530
441            32.536775    11.121366        36.979372              4.129255
286            33.708153    14.325655        35.721827              3.634340
121            33.701605    11.564022        37.673210              4.716105
9              31.936549    11.814128        37.145168              3.202806
176            32.332637    11.548761        38.576516              4.773503
195            31.820998    10.771074        37.278640              3.519032
432            31.123974    12.386516        35.632112              4.288487
458            35.371876    10.572467        36.862183              4.198349
278            32.607903    13.677246        37.744700              2.871948
348            31.812483    10.886921        34.897828              3.128639
16             32.125387    11.733862        34.894093              3.136133
183            33.122400    11.509048        37.253058              3.182330
426            31.425227    13.271475        37.239847              4.022103
41             33.019548    10.634561        37.496690              4.646120
427            33.625307    12.988221        39.672591              3.969418
377            35.037450    11.935935        35.783924              3.310150
322            33.264632    10.732131        36.145792              4.086566
213            34.330750    13.722454        35.773116              2.909008
296            33.612563    11.470565        37.061689              3.802511
..                   ...          ...              ...                   ...
59             33.754995    12.064157        37.271222              3.970556
473            31.609840    12.710701        36.166463              2.562819
413            32.592093    10.314718        36.729029              4.791109
371            32.404295    11.608998        38.110457              2.966559
136            32.686129    12.215252        36.594362              3.897116
111            32.012301    12.178331        37.715986              3.722561
339            32.997459    12.589241        37.332241              2.804014
49             31.661050    11.398064        36.594457              3.198399
490            34.695591    11.608997        37.684877              3.163092
477            31.061325    12.357638        36.166042              4.089331
396            35.742670    10.889828        35.565436              6.115199
5              33.871038    12.026925        34.476878              5.493507
110            31.853075    12.149375        37.325334              3.361815
192            33.694898    11.202670        35.493964              4.015987
220            34.117567    11.591872        37.743620              3.678589
316            33.566474    12.235659        37.277573              2.532044
245            32.980029    11.201160        37.689337              2.412831
424            34.370327    11.887800        37.861447              3.046620
495            33.237660    13.566160        36.417985              3.746573
132            34.312167    11.810587        37.414134              2.473596
40             32.070546    11.733106        37.534291              4.671275
461            32.770492    11.371767        35.261498              4.034386
393            32.319858    12.418113        36.155336              3.222081
75             32.049839    12.238057        38.730862              3.120569
87             34.447871    10.607724        36.819096              3.366464
63             32.789773    11.670066        37.408748              3.414688
326            33.217188    10.999684        38.442767              4.243813
337            31.827979    12.461147        37.428997              2.974737
11             33.879361    11.584783        37.087926              3.713209
351            32.189845    11.386776        38.197483              4.808320

[350 rows x 4 columns]

In [32]:
x_train_std=scx.fit_transform(x_train)

In [33]:
x_train_std

array([[-1.49994106, -0.7308338 , -0.04298381,  0.27443007],
       [-1.16374302,  2.11003957, -0.06072863,  0.20010103],
       [ 0.22847958, -0.54678302,  0.04810959,  1.14125825],
       ...,
       [-1.19842351,  0.44884576,  0.35779627, -0.57704253],
       [ 0.84814529, -0.47330089,  0.00683273,  0.17463764],
       [-0.83740685, -0.68165245,  1.14857087,  1.28933518]])

In [34]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [35]:
lr=LinearRegression()

In [36]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
lr.intercept_

-1047.9327822502387

In [38]:
lr.coef_

array([25.98154972, 38.59015875,  0.19040528, 61.27909654])

In [39]:
x.columns

Index(['Avg. Session Length', 'Time on App', 'Time on Website',
       'Length of Membership'],
      dtype='object')

In [40]:
pred=lr.predict(x_test)

In [41]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [42]:
print("MEan absolute error= ",mean_absolute_error(y_test,pred))
print("Mean Square error= ",mean_squared_error(y_test,pred))
print("R2_score= ",r2_score(y_test,pred))
print("Variance=",np.sqrt(mean_squared_error(y_test,pred)))

MEan absolute error=  7.228148653430853
Mean Square error=  79.81305165097487
R2_score=  0.9890046246741233
Variance= 8.933815066978656

In [43]:
lr_std = LinearRegression()

In [44]:
lr_std.fit(x_train_std,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
lr_std.coef_

array([26.04265125, 36.67425683,  0.18503853, 60.20236045])

In [46]:
lr_std.intercept_

498.7231164913073

In [47]:
x_test_std=scx.transform(x_test)

In [48]:
pred1=lr_std.predict(x_test_std)

In [49]:
print("MEan absolute error= ",mean_absolute_error(y_test,pred1))
print("Mean Square error= ",mean_squared_error(y_test,pred1))
print("R2_score= ",r2_score(y_test,pred1))
print("Variance=",np.sqrt(mean_squared_error(y_test,pred1)))

MEan absolute error=  7.228148653430856
Mean Square error=  79.81305165097461
R2_score=  0.9890046246741234
Variance= 8.933815066978642

In [52]:
for i in [10,100,1000,10000,100000,1000000,10000000]:
    ridge=Ridge(alpha=i)
    ridge.fit(x_train_std,y_train)
    pred_ridge=ridge.predict(x_test_std)
    print("Lambda is "+str(i)+" ",ridge.coef_)
    print("RidgeMean absolute error= ",mean_absolute_error(y_test,pred_ridge))
    print("RidgeMean Square error= ",mean_squared_error(y_test,pred_ridge))
    print("RidgeR2_score= ",r2_score(y_test,pred_ridge))
    print("RidgeVariance=",np.sqrt(mean_squared_error(y_test,pred_ridge)))

Lambda is 10  [25.29919719 35.6559098   0.2143677  58.58194845]
RidgeMean absolute error=  7.631092834722042
RidgeMean Square error=  87.96451772099492
RidgeR2_score=  0.9878816450731432
RidgeVariance= 9.378940117145163
Lambda is 100  [20.1304703  28.53510703  0.35995335 47.1528285 ]
RidgeMean absolute error=  16.48880688276055
RidgeMean Square error=  444.0996361199288
RidgeR2_score=  0.9388190016517904
RidgeVariance= 21.073671633579394
Lambda is 1000  [ 6.62141722  9.54275061  0.27671654 15.96499993]
RidgeMean absolute error=  49.53296386806698
RidgeMean Square error=  4008.806402924865
RidgeR2_score=  0.4477302885035349
RidgeVariance= 63.31513565431938
Lambda is 10000  [0.85900288 1.24765903 0.0444924  2.09602974]
RidgeMean absolute error=  64.39154932821727
RidgeMean Square error=  6781.187123061695
RidgeR2_score=  0.06579568089783416
RidgeVariance= 82.34796368497338
Lambda is 100000  [0.08853346 0.12872867 0.00470363 0.21637007]
RidgeMean absolute error=  66.40275142247539
RidgeMean Square error=  7212.205627954694
RidgeR2_score=  0.006416793163764756
RidgeVariance= 84.92470563949394
Lambda is 1000000  [0.00888057 0.01291389 0.00047303 0.02170709]
RidgeMean absolute error=  66.61096342327585
RidgeMean Square error=  7257.593624519358
RidgeR2_score=  0.00016395547375280817
RidgeVariance= 85.19151145812215
Lambda is 10000000  [8.88330124e-04 1.29180071e-03 4.73300886e-05 2.17141181e-03]
RidgeMean absolute error=  66.63185806789198
RidgeMean Square error=  7262.156372415113
RidgeR2_score=  -0.00046462750350984017
RidgeVariance= 85.2182866080697

In [51]:
for i in [10,100,1000,10000,100000,1000000,10000000]:
    las=Lasso(alpha=i)
    las.fit(x_train_std,y_train)
    pred_las=las.predict(x_test_std)
    print("Lambda is "+str(i)+" ",ridge.coef_)
    print("RdigeMean absolute error= ",mean_absolute_error(y_test,pred_ridge))
    print("RidgeMean Square error= ",mean_squared_error(y_test,pred_ridge))
    print("RidgeR2_score= ",r2_score(y_test,pred_ridge))
    print("RidgeVariance=",np.sqrt(mean_squared_error(y_test,pred_ridge)))

Lambda is 10  [25.29919719 35.6559098   0.2143677  58.58194845]
RdigeMean absolute error=  7.631092834722042
RidgeMean Square error=  87.96451772099492
RidgeR2_score=  0.9878816450731432
RidgeVariance= 9.378940117145163
Lambda is 100  [20.1304703  28.53510703  0.35995335 47.1528285 ]
RdigeMean absolute error=  16.48880688276055
RidgeMean Square error=  444.0996361199288
RidgeR2_score=  0.9388190016517904
RidgeVariance= 21.073671633579394
Lambda is 1000  [ 6.62141722  9.54275061  0.27671654 15.96499993]
RdigeMean absolute error=  49.53296386806698
RidgeMean Square error=  4008.806402924865
RidgeR2_score=  0.4477302885035349
RidgeVariance= 63.31513565431938
Lambda is 10000  [0.85900288 1.24765903 0.0444924  2.09602974]
RdigeMean absolute error=  64.39154932821727
RidgeMean Square error=  6781.187123061695
RidgeR2_score=  0.06579568089783416
RidgeVariance= 82.34796368497338
Lambda is 100000  [0.08853346 0.12872867 0.00470363 0.21637007]
RdigeMean absolute error=  66.40275142247539
RidgeMean Square error=  7212.205627954694
RidgeR2_score=  0.006416793163764756
RidgeVariance= 84.92470563949394
Lambda is 1000000  [0.00888057 0.01291389 0.00047303 0.02170709]
RdigeMean absolute error=  66.61096342327585
RidgeMean Square error=  7257.593624519358
RidgeR2_score=  0.00016395547375280817
RidgeVariance= 85.19151145812215
Lambda is 10000000  [8.88330124e-04 1.29180071e-03 4.73300886e-05 2.17141181e-03]
RdigeMean absolute error=  66.63185806789198
RidgeMean Square error=  7262.156372415113
RidgeR2_score=  -0.00046462750350984017
RidgeVariance= 85.2182866080697